html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.desc1, .desc2{
  
 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: -0.3px;
  width:100%;
  display: flex;
  justify-content: space-between;
  
}
.desc2{
  position: fixed;
  bottom: 10px;
}

.desc1{
  position: fixed;
  top: 10px;
}

p{
  margin-left: 20px;
  margin-right: 20px;
}